
<!-- Intro Start -->
{% include js.html %}
<header class="intro">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
            </a>
            <h3 class="brand-heading">DevsKrate</h3>
            <!-- <h5>&nbsp;</h5> -->
            <span class="intro-text">{{ content }}</span>
            {% include social-buttons.html %}
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
